[submodule ".ssh-find-agent"]
	path = .ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent.git
[submodule ".iterm-color-schemes"]
	path = .iterm-color-schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "zsh-git-prompt"]
	path = .zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".zsh-git-prompt"]
	path = .zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
