[user]
	name = tilakpatidar
  email = tilakpatidar@gmail.com
  signingkey = CE45ED7B2AABB66C
[core]
  excludesfile = /Users/tilak/.gitignore_global
# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[commit]
  gpgsign = true
[tag]
  gpgsign = true
